@model Advogado.Models.TipoArquivo
@{
    ViewBag.Title = "Editar Documento";
}

@section scripts
{
    <script>
        $(document).on("change", "#ModeloArquivo", function () {
            $("#MantemMesmoModelo").val(false);
        });

        function RemoverArquivo() {
            $.ajax({
                method: "GET",
                url: $("#urls").data("urlModeloArquivo"),
                dataType: "html",
                success: function success(result) {
                    $("#div-modelo-arquivo").html(result);
                },
                error: function error(XMLHttpRequest, textStatus, errorThrown) {
                    console.log(XMLHttpRequest);
                    console.log(textStatus);
                    console.log(errorThrown);
                    swal("Mensagem", "Erro desconhecido!", "error");
                }
            });
        }
    </script>
}

<div id="urls" data-url-modelo-arquivo="@Url.Action("ModeloArquivo")"></div>

<div class="row small-spacing">
    <div class="col-lg-12 col-xs-12">
        <div class="box-content card white">
            <h4 class="box-title">@ViewBag.Title</h4>
            <div class="card-content">
                @using (Html.BeginForm("Editar", "TipoDocumento", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.HiddenFor(m => m.TipoArquivoId)
                    @Html.Partial("_Form")
                }
            </div>
        </div>
    </div>
</div>