@model Advogado.Models.QuestionarioSalarioMaternidade

<div class="form-group">
    <label style="text-align: justify">O aborto ocorreu após 23ª semana de gestação?</label>
    <label class="container_radio version_2">
        Sim
        @Html.RadioButton("AbortoOcorreuApos23Semana", true, false, new { required = "" })
        <span class="checkmark"></span>
    </label>
    <label class="container_radio version_2">
        Não
        @Html.RadioButton("AbortoOcorreuApos23Semana", false, false, new { required = "" })
        <span class="checkmark"></span>
    </label>
</div>

<div class="row">
    <div class="col-md-12">
        <input type="submit" value="Confirmar" class="btn_1 add_bottom_15">
    </div>
</div>

<input type="hidden" id="PassoSalarioMaternidade" name="PassoSalarioMaternidade" value="@Advogado.Models.PassoSalarioMaternidade.AbortoOcorreuApos23Semana" />
<input type="hidden" id="ObjetoSerializado" name="ObjetoSerializado" value="@Model.ObjetoSerializado" />