@model Advogado.Models.Tarefa

<div class="modal fade" id="modalFinalizarTarefa" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Finalizar tarefa</h4>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("FinalizarTarefa", "Tarefa", FormMethod.Post, new { @class = "form", id = "frmFinalizarTarefa" }))
                {
                    @Html.HiddenFor(m => m.TarefaId)
                    <div class="row">
                        <div class="form-group col-md-12">
                            @Html.LabelFor(m => m.Solucao) <label style="color: red" title="Este campo é obrigatório">*</label>
                            @Html.TextAreaFor(m => m.Solucao, new { @class = "form-control", placeholder = "Informe detalhes sobre a solução da tarefa", required = "" })
                            @Html.ValidationMessageFor(m => m.Solucao)
                        </div>
                    </div>
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-sm waves-effect waves-light" onclick="$('#frmFinalizarTarefa').submit()">Finalizar tarefa</button>
                <button type="button" class="btn btn-default btn-sm waves-effect waves-light" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>