<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Magnifica Questionnaire Form Wizard includes Coronavirus Health questionnaire">
    <meta name="author" content="Ansonika">
    <title>Questionário - @ViewBag.Title</title>
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" type="image/x-icon" href="~/LayoutServico/img/apple-touch-icon-57x57-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="~/LayoutServico/img/apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" href="~/LayoutServico/img/apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="~/LayoutServico/img/apple-touch-icon-144x144-precomposed.png">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap" rel="stylesheet">
    <link href="~/LayoutServico/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/LayoutServico/css/menu.css" rel="stylesheet">
    <link href="~/LayoutServico/css/style.css" rel="stylesheet">
    <link href="~/LayoutServico/css/vendors.css" rel="stylesheet">
    <link href="~/LayoutServico/css/custom.css" rel="stylesheet">
    <script src="~/LayoutServico/js/modernizr.js"></script>

    <link href="~/LayoutServico/plugin/jquery-confirm/jquery-confirm.min.css" rel="stylesheet" />
    <link href="~/LayoutServico/plugin/waitMe/waitMe.css" rel="stylesheet" />

    <link href="~/LayoutServico/plugin/pick/themes/default.css" rel="stylesheet" />
    <link href="~/LayoutServico/plugin/pick/themes/default.date.css" rel="stylesheet" />
    <link href="~/LayoutServico/plugin/pick/themes/default.time.css" rel="stylesheet" />

    @RenderSection("styles", required: false)

    <style>
        i.icon-facebook {
            /*font-size: 1.6em;*/
            /*width: 1.6em;*/
            /*text-align: center;*/
            /*line-height: 1.6em;*/
            background: #2851A3;
            color: #ffffff;
            border-radius: 0.8em; /* or 50% width & line-height */
        }

        i.icon-youtube-play {
            /*font-size: 1.6em;*/
            /*width: 1.6em;*/
            /*text-align: center;*/
            /*line-height: 1.6em;*/
            background: #f00;
            color: #ffffff;
            border-radius: 0.8em; /* or 50% width & line-height */
        }
    </style>

</head>

<body>

    <div id="preloader">
        <div data-loader="circle-side"></div>
    </div>

    <div id="loader_form">
        <div data-loader="circle-side-2"></div>
    </div>

    <header>
        <div class="container">
            <div class="row">
                <div class="col-3">
                    <a href="#"><img src="~/LayoutServico/img/logo.png" alt="" width="178" height="45" class="d-none d-md-block"><img src="~/LayoutServico/img/logo_mobile.png" alt="" width="62" height="45" class="d-block d-md-none"></a>
                </div>
                <div class="col-9">

                    @*<div id="social">
                        <ul>
                            <li>
                                <a target="_blank" href="https://www.facebook.com/meubeneficioro/">
                                    <i>
                                        <img width="24" height="24" src="~/LayoutServico/img/socials/facebook_icon-icons.com_59205.png" alt="" />
                                    </i>
                                </a>
                            </li>
                            <li>
                                <a target="_blank" href="https://api.whatsapp.com/send?phone=5569992622900&text=Ol%C3%A1">
                                    <img width="24" height="24" src="~/LayoutServico/img/socials/whatsapp_socialnetwork_17360.png" alt="" />
                                </a>
                            </li>
                            <li>
                                <a target="_blank" href="https://www.youtube.com/channel/UCnhoVLoQAm0N38hvKtAFPrw">
                                    <img width="24" height="24" src="~/LayoutServico/img/socials/1491580651-yumminkysocialmedia28_83061.png" alt="" />
                                </a>
                            </li>
                        </ul>
                    </div>*@

                    <div id="social">
                            <ul>
                                <li><a href="https://www.facebook.com/meubeneficioro/"><i class="icon-facebook"></i></a></li>
                                <li><a href="https://api.whatsapp.com/send?phone=5569992622900&text=Ol%C3%A1"><i class="icon-whatsapp"></i></a></li>
                                <li><a href="https://www.youtube.com/channel/UCnhoVLoQAm0N38hvKtAFPrw"><i class="icon-youtube-play"></i></a></li>
                            </ul>
                        </div>

                    <a href="#0" class="cd-nav-trigger">Menu<span class="cd-icon"></span></a>
                    <nav>
                        <ul class="cd-primary-nav">
                            <li><a target="_blank" href="http://www.meubeneficio.ro/" class="animated_link">Nosso site</a></li>
                            <li><a target="_blank" href="http://www.meubeneficio.ro/#fale-conosco" class="animated_link">Fale conosco</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>

    @RenderBody()

    <div class="container">
        <footer id="home" class="clearfix">
            <p>© 2020 Meu Benefício</p>
        </footer>
    </div>

    <div class="cd-overlay-nav">
        <span></span>
    </div>

    <div class="cd-overlay-content">
        <span></span>
    </div>

    <script src="~/LayoutServico/js/jquery-3.2.1.min.js"></script>
    <script src="~/LayoutServico/js/common_scripts.min.js"></script>
    <script src="~/LayoutServico/js/velocity.min.js"></script>
    <script src="~/LayoutServico/js/common_functions.js"></script>
    @*<script src="~/LayoutServico/js/func_1.js"></script>*@
    <script src="~/LayoutServico/plugin/jquery-mask/jquery.mask.js"></script>
    <script src="~/LayoutServico/js/globalmask.js"></script>

    <script src="~/LayoutServico/plugin/pick/picker.js"></script>
    <script src="~/LayoutServico/plugin/pick/picker.date.js"></script>
    <script src="~/LayoutServico/plugin/pick/picker.time.js"></script>
    <script src="~/LayoutServico/plugin/pick/legacy.js"></script>
    <script src="~/LayoutServico/plugin/pick/translations/pt_BR.js"></script>

    <script src="~/LayoutServico/plugin/jquery-confirm/jquery-confirm.min.js"></script>
    <script src="~/LayoutServico/plugin/waitMe/waitMe.js"></script>

    @RenderSection("scripts", required: false)
</body>
</html>